body{
	font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}
p{
	font-size: 14px;
}
.slider{
	margin:0 auto;
	padding-top: 70px
}
.slider img{
	height: auto;
	width: 100%;
}
.slick-prev:before,
.slick-next:before {
    color: #000;
}
.ui.secondary.borderless.fixed.pointing.menu{
	border: none;
	background-color: rgba(255,255,255,0.5);
}
.ui.secondary.pointing.menu .item{
	color: #A08A7A;
}
.ui.table thead th{
	width: 110px;
	color: #7A6051;
	background-color: #EDE8E3;
}
.ui.table thead tr:last-child>th:last-child{
	border-bottom: none;
}
/* ul{
	display: block;
	float: left;
	list-style-type: none;
}
li{
	padding: 10px;
}
dt{
	float:left;
}
dd{
	float: left;
	margin-right: 1em;
} */

.ui.feed>.event:first-child{
	padding-top: 30px;
}
.ui.feed>.event:last-child{
	padding-bottom: 30px;
}
.ui.feed>.event{
	padding: 30px;
	background: #F7F7F7;
	border-bottom: 1px solid #FFFFFF;
}
.ui.feed>.event>.content .summary{
	overflow: hidden;
	font-size: 1.2em;
	color: #A08A7A;
}
.ui.feed>.event>.content .summary>.date{
	float: right;
	color: #A08A7A;
}
.ui.feed>.event>.content .extra.text{
	color: #A08A7A;
}
.img-mrg{
	padding-top: 120px;
}
.modProductNav ul{
	list-style: none;
}
.modProductNav a{
	font-size: 28px;
	visibility: hidden;
	border-bottom: 10px solid #58b368;
}
.ui.large.image{
	margin: 80px 0px;
}
.eight.wide.right.floated.column p{
	text-align: left;
}
.eight.wide.right.floated.column h3{
	background-color: #ffebd3;
}
.ui.vertical.stripe.segment img{
	/* width: 60px; */
	height: auto;
}
.ui.vertical.stripe.segment h1{
	margin-bottom: 20px;
	display: inline-block;
	color: #A08A7A;
	border-bottom: 2px solid #A08A7A;
}

/* .ui.card>.image>img{
	width: 100%;
	height: auto;
} */
.cercle-item{
	margin:30px;
}
.sns-comment{
	margin-top: 50px;
}
.twitter.icon{
	color:#55acee;
}
.instagram.icon{
	color: #E1306C;
}
.youtube.icon{
	color: #cd201f;
}
.facebook.icon{
	color: #3b5998;
}
.ui.inverted.vertical.footer.segment{
	background-color: #A08A7A;
	padding: 40px 0px;
}
@media screen and (min-width : 375px) and (max-width:414px) {
	.card-list{
		padding: 0px 50px;
	}
	/* .ui.link.cards.card{
		width: 100px;
	} */
	.options iframe{
		width: 100%;
	}
	.google-map iframe{
		width: 100%;
	}
	#nonside{
		display: none;
	}
	#side{
		display: block;
	}

}
@media screen and (min-width:414px) and (max-width:480px) {
	.card-list{
		padding: 0px 50px;
	}
	.options iframe{
		width: 100%;
	}
	.google-map iframe{
		width: 100%;
	}
	#nonside{
		display: none;
	}
	#side{
		display: block;
	}
}
@media screen and (min-width:480px) and (max-width:621px){
	.card-list{
		padding: 0px 82px;
	}
	.options iframe{
		width: 100%;
	}
	.google-map iframe{
		width: 100%;
	}
	#nonside{
		display: none;
	}
	#side{
		display: block;
	}
}
@media screen and (min-width : 621px) and (max-width:768px) {
	.card-list{
		padding: 0px 30px;
	}
	#nonside{
		display: none;
	}
	#side{
		display: block;
	}
}
@media screen and (min-width : 768px) and (max-width : 992px) {
	.card-list{
		padding: 0px 64px;
	}
	#nonside{
		display: none;
	}
	#side{
		display: block;
	}
}

@media screen and (min-width : 992px) and (max-width:1024px){
	.card-list{
		padding: 0px 64px;
	}
	#side{
		display: none;
	}
}
@media screen and (min-width:1024px) and (max-width:1200px){
	.card-list{
		padding: 0px 10px;
	}
	#side{
		display: none;
	}
}
@media screen and (min-width:1200px) {
	.card-list{
		padding: 0px 100px;
	}
	#side{
		display: none;
	}
}
